<div class="container-fluid">
  <br>
  <h3>Profile</h3>
  <br>
  <ul>
    <% if user_signed_in? %>
      <%= link_to "Edit user profile (doesn't work yet)", users_path %><br><br>
      Your email: <%= current_user.email %><br><br>
      <%= link_to "Edit email/password", edit_user_registration_path %><br><br>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %><br>
    <% end %>
  </ul>
</div>