<div class="container-fluid">
  <br>
  <h4>Welcome to PortoEvent!</h4>
  <br>
  <%= link_to "View all users", users_path %>
  <br><br>
  <%= link_to "View all events", events_path %>
  <br><br>
  <%= link_to "View all attendances", attendances_path %>
  <br><br>
</div>