<div class="container-fluid">
  <br>
  <h4>List of all events</h4><br>
  <div class="list-group">
    <% @events.each do |event| %>
      <a href="/events/<%= event.id %>/" class="list-group-item list-group-item-action">
        <%= event.title %><br>
      </a>
    <% end %>
  </div>
</div>