<div class="container-fluid">
  <br>
  <h4>List of all events</h4><br>
  <div class="list-group">
    <% @events.each do |event| %>
      <a href="/events/<%= event.id %>/" class="list-group-item list-group-item-action">
        <h5><%= event.title %></h5>
        <strong>Date: </strong><%= event.start_date.strftime('%A, %B %dth %Y') %><br>
        <strong>Price: </strong><%= event.price %> €<br>
      </a>
    <% end %>
  </div>
</div>