<div class="container-fluid">
  <br>
  <h4>List of all attendances</h4><br>
  <div class="list-group">
    <% @attendances.each do |attendance| %>
      <a href="/users/<%= attendance.id %>/" class="list-group-item list-group-item-action">
        Attendance nยบ <%= attendance.id %>: <%= attendance.stripe_customer_id %><br>
      </a>
    <% end %>
  </div>
</div>