    <footer class="bg-dark text-center text-white">
      <!-- Footer -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © Suzanne Christé. GitHub repository:
        <a class="text-light" href="https://github.com/Suziwan/PortoEvent.git">PortoEvent</a>
      </div>
      <!-- Footer -->
    </footer>